@use'./../../styles/variables.scss' as var;
@use'./mixins.scss' as LocalMixins;
.one-app{
    $double-gap: calc(var(--gap)* 2);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 50px;

    &__animation {

    @include LocalMixins.rotate-center(0, "./../../assets/images/one-app-bubble.png");


    @keyframes rotate-center {
        
        0%{
            transform: rotate(0);
        }
        100%{
            transform: rotate(360deg);
        }
    }

}
    &__container{
    display: flex;
    flex-direction: column;
    @media (min-width: var.$bigger-tablet) {
        flex-direction: row;
    }
    }
    &_right,
    &_left{
        @media (min-width: var.$bigger-tablet) {
            flex: 1;
        }
    }
    &_left {
        display: flex;
        flex-direction: column;
        gap: $double-gap;
        margin-bottom: $double-gap;

        p {
            align-self: flex-start;
        }

        @media (min-width: var.$bigger-tablet) {
            margin-bottom: 0;
        }
    }

    &_right{
       @include LocalMixins.half-container-image("./../../assets/images/one-app-background.png");
        
    }

  

    &__buttons {
        display: flex;
        align-items: center;
        gap: $double-gap;
        }

        &__play{
            position: relative;

            span{
                left: 20px;
                padding: 0 20px;
                position: absolute;

                 @media (min-width: var.$bigger-tablet) {
                    left: 30px;
                }
            }
        }

        br{
            display: none;
          }

        @media (min-width: var.$bigger-tablet) {
          br{
            display: block;
          }
          }
          &__infos {
            display: flex;
            align-items: center;
            padding: 5px;
            gap: 20px;
          }

          &__info {
            display: flex;
            align-items: center;
            
            gap: 5px;
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px;
                background-color: var(--cream-color);
                border-radius: 50%;

                svg{
                    color: var(--violett-color);
                }
            }
            
          }
        
}
