@use'./styles/global.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');



html {
  background-color: var(--white-color);
  color: var(black-color);
  font: var(--font);
  overflow-x: hidden;
}

body, ul, li, p, h1, h2, h3, h4, h5, h6, button {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  height: 35px;
  width: 150px;
}

a {
  color: var(--black-color);
  text-decoration: none;
  &:hover, &:active, &:focus {
    // color: var(--violett-color);
    transition: var(--transition);
}
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

li {
  list-style: none;
}

@keyframes rotate-center {
        
  0%{
      transform: rotate(0);
  }
  100%{
      transform: rotate(360deg);
  }
}