@use'variables' as var;

.button, .button-svg {
  --size: 30px;

  display: flex;
  justify-content: center;
  align-items: center;}

  .button {
  padding: 0 var(--gap);
  height: var(--size);

  color: black;
  border: 1px solid var(--grey-color);
  border-radius: var(--size);
  transition: var(--transition);
  font: var(--smaller-font);
  cursor: pointer;
  &_round {
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    padding: 0;
  }
  &_active {
    border-color: var(--viollet-color);
    background-color: var(--violett-color);
    color: var(--white-color);
  }

  &:hover,
  &:active,
  &:focus {
    border-color: var(--viollet-color);
    background-color: var(--violett-color);
    color: var(--white-color);
    svg {
      fill: var(--white-color);
    }
  }

  &_bigger {
    height: calc(var(--gap) * 1.15);
    padding: calc(var(--gap) * 1) calc(var(--gap) * 1.5);
  }

  @media (min-width: var.$bigger-tablet) {
    --size: 40px;
  }

  &_white {
    background-color: var(--white-color);
    color: var(--black-color);
    height: 20px;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }

}


.button-svg {
--size: 40px;
--local-gap: 7px;
padding: 0 calc(var(--gap)* 1.2);
height: var(--size);
border-radius: var(--size);
cursor: pointer;


  background-color: var(--cream-color);
  &__left{
height: 50%;
border-right: 2px solid var(--grey-color);
padding-right: var(--local-gap);
height: 23px;
  }
  &__right{
padding-left: var(--local-gap);
  }
  p{
    line-height: 15px;
  }
  @media (min-width: var.$bigger-tablet) {
    --size: 60px;
    --local-gap: 10px;
    img {
      height: 20px;
    }
    p{
      line-height: 18px;
    }
  }

 
}
.button-dropdown {
 width: 280px;
 padding: var(--gap);
 border-radius: 8px;

 @media (min-width: var.$bigger-mobile) {
  width: 360px;
 }

 @media (min-width: var.$bigger-mobile) {
  width: 469px;
 }
  &_top{
    display: flex;
    gap: var(--gap);
   
    justify-content: space-between;
    
   
  }

  &_bottom {
    display: none;
  }
     
  &_active {
  
    background-color: var(--cream-color);
     color: var(--violett-color);


     .button-dropdown_buttom {
      display: block;
      margin-top: var(--gap);
      color: var(--black-color);
      text-align: left;
    }

    svg{
      transform: scaleY(-1);
      fill: var(--violett-color);
    }
  } 
   

}


