@use'variables' as var;

.top_banner {
  width: 100%;
  height: 75px;
  background-image: url(./../assets/images/top_nav_background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: -30px;
  color: var(--white-color);
  font:var(--smaller-font);

  &_text {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
  }

}
.top_banner__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  gap: var(--gap);
  text-align: center;
}
.top-banner__text {
  &_text {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
  }
}
.header_fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  
  z-index: 999;
  border-radius: 0;
}

header {
  --top-radius: 30px;



  padding: var(--gap) 0;
  background-color: var(--white-color);
  border-top-right-radius: var(--top-radius);
  border-top-left-radius: var(--top-radius);

  .header__container {
    display: flex;
   flex-direction: column;
    gap: var(--gap);
    border-radius: 10px;
    @media (min-width: var.$tablet) {
      flex-direction: row;
    }
  }

  .header__menu {
    flex: 1;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(var(--gap) *2) var(--gap);
    border-bottom: 2px solid var(--grey-color);

    @media (min-width: var.$tablet) {
      border: none;
      align-items: center;
      padding: 0;
      gap: var(--gap);
    }
  }

  .header__triggers {
    display: flex;
    justify-content: space-between;
  }

  .header__mobile_trigger {
    transition: var(--transition);
    svg {
      width: 35px;
      height: 35px;
    }
    &:hover,
    &:active,
    &:focus,
    &_active {

      svg{fill: var(--violett-color) ;}

    }
    @media (min-width: var.$tablet) {
      display: none;
    }
  }

  .header__buttons {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--gap);
    width: 208px;
  }

  .header__lang {
    
    display: flex;
    align-items: center;
        
    .img__lang {
      margin-right: 10px;
      width: 30px;
      height: 30px;
    }
  }
  
  .header__langs {
    background-color: var(--cream-color);
    border-radius:  20px;

    position: absolute;

    padding: 10px 0;
    top: 40px;
    right: 0px;
    gap: 5px;

    a {
      display: block;
      padding: 5px 25px;
      width: calc(100% - 50px);

      &:hover {
        background-color: var(--white-color);
      }
    }
    @media (min-width: var.$tablet) {
      right: 57px;
    }
    @media (min-width: var.$bigger-tablet) {
      right: 40px;
    }

    @media (min-width: var.$desktop) {
      right: 37px;
    }
  }
 
.header__navigation {
ul {
  flex-wrap: wrap;
  column-gap: var(--gap);

}
li{
  width: 80px;
  display: flex;
  justify-content: flex-start;
}

  @media (min-width: var.$tablet) {
    position: relative;

ul{
  flex-wrap: nowrap;
}
li{
  width: inherit;
}

  }
}

  .navigation ul {
    position: relative;
    display: flex;
    column-gap: calc(var(--gap)* 2);
    row-gap: calc(var(--gap)/ 2);
    gap: var(--gap) calc(var(--gap) * 2);
    font: var(--smaller-font);
    text-transform: uppercase;
    font: var(--smaller-font);
    text-transform: uppercase;

    a{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
  }

nav {
  position: relative;
}

  .header__svg_tablet{
  display: none;

  @media (min-width: 768px) {
    display: inline;
  }
  @media (min-width: var.$desktop) {
    display: none;
  }
  }

    .header__link_tablet {
      @media (min-width: var.$tablet) {
      --top: 27px;

      position:absolute;
      right: 18px;
      width: 120px;
      height: var(--top);
      display: flex;
      align-items: center;
      justify-content: center;
  
      &_one {
        top: var(--top);
      }
      &_two {
        top: calc(var(--top) *2);
      }
      &_three {
        top: calc(var(--top) *3);
      }
      &_four {
        top: calc(var(--top) *4);

       
      }
    }
    
    @media (min-width: var.$desktop) {
      position: static;
      width: auto;
      height: auto;

    }
  }


  }
  
    
 



