@use'variables' as v;

header, main, footer {
   display: flex;
   flex-direction: column;
   align-items: center;
  }

  .navigation ul {
    display: flex;
    gap: calc(var(--gap) * 2);
    font: var(--smaller-font);
    text-transform: uppercase;
    font: var(--smaller-font);
    text-transform: uppercase;
  }
 
  .container {
    width: 100%;
  
    @media (min-width: v.$bigger-mobile) {
        width: 576px;
      }

    @media (min-width: v.$tablet) {
      width: 720px;
    }

    @media (min-width: v.$desktop) {
        width: 1170px;
      }

      @media (min-width: v.$bigger-desktop) {
        width: 1320px;
      }
  }

 