@use'variables' as var;

header, main, footer {
   display: flex;
   flex-direction: column;
   align-items: center;
  }

  .navigation ul {
    display: flex;
    gap: calc(var(--gap) * 2);
    font: var(--smaller-font);
    text-transform: uppercase;
    font: var(--smaller-font);
    text-transform: uppercase;
  }
 
  .container {
    width: 100%;
    padding: var(--gap);
  
    @media (min-width: var.$bigger-mobile) {
        width: 510px;
      }

    @media (min-width: var.$tablet) {
      width: 720px;
      padding: 0;
    }

    @media (min-width: var.$desktop) {
        width: 1170px;
      }

      @media (min-width: var.$bigger-desktop) {
        width: 1320px;
      }
  }

 