.link {
  color: var(--black-color);
  font-weight: 700;
  transition: var(--transition);

  &:hover,
  &:active,
  &:focus {
    color: var(--violett-color);
  }
}
.link_active {
  color: var(--violett-color);
}
