.link {
  color: var(--black-color);
  font-weight: 700;
  transition: var(--transition);

  &:hover,
  &:active,
  &:focus {
    color: var(--violett-color);
  }
  &_small {
    font: var(--smaller-font);
    text-decoration: underline;
    color: var(--white-color);
    white-space: nowrap;

    &:hover,
    &:active,
    &:focus {
      color: var(--blue-color);
    }
  }
 
}
.link_active {
  color: var(--violett-color);
}
