
    //breakpoints
$tablet: 768;
$bigger-mobile: 576px;
$desktop: 1200px;
$bigger-desktop: 1400px;





:root {
--smaller-font:700 12px 'Inter', sans-serif;

    --transition: 0.3s;
    --gap: 15px;
}